<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pembelian PLN Listrik</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<main>
<!--navbar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Admin Internet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      	<li class="nav-item">
          <a class="nav-link" href="admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admininternet">Publish Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admininternet2">Payment Verification</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--navbar tutup-->

<!--input data pembelian listrik-->
<div id="data-collection" class="container">
  <span th:if="${sukses}" th:text="${sukses}" ></span>
  <br>
  <div id="add-bayar" class="mb-3">
    <form class="row g-3" th:action="@{/admininternet/save}" th:object="${internetForm}" method="post" style="width: 30%;">
      <div class="col-12">
        <label class="form-label">Fair Speed</label>
        <input type="text" class="form-control" th:field="*{kecepatan}"/>
      </div>
      <div class="col-12">
        <label class="form-label">Harga</label>
        <input type="text" class="form-control" th:field="*{harga}"/>
      </div>
      <div class="col-12">
        <input type="submit" class="btn btn-danger" value="Add Product"/>
      </div>
      <br>
    </form>
    <span th:if="${success}" th:text="${success}"></span>
  </div>
</div>
</div>

<!--tabel hasil buat hasil pembelian-->
<div id="data-table" class="container">
  <div>
    <h2>List Product Internet</h2>
    <br>
    <br>
    <table class="table table-light table-striped" border="1" cellpadding="2">
      <thead class="table-dark">
      <tr>
        <th>Fair Speed</th>
        <th>Harga</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody th:each="ad : ${admininternets}">
      <tr>
        <td th:text="${ad.kecepatan}"></td>
        <td th:text="${ad.harga}"></td>
        <td>
          <div class="col-12">
            <!--<form class="row g-3" th:action="@{/internet/save}">-->
            <button class="btn btn-danger" th:onclick="deleteData('[[${ad.id}]]')">Delete</button>
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
<script inline="javascript">
  /*<![CDATA[*/
  var baseUrl = /*[[@{/}]]*/ "";
  /*]]>*/

  function deleteData(data){
    var conf = confirm("Product Akan Dihapus?")
    if(conf){
      window.location = baseUrl + "admininternet/delete?id="+data;
    }
    return false;
  }
</script>
</html>

