<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Listrik</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <h1 class="text-center">Admin Listrik</h1>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<!--tabel hasil buat hasil pembelian-->
   <div id="data-table" class="container">
       <div>
           <h2>Pembelian Listrik</h2>
           <br>
           <br>
           <table class="table table-light table-striped" border="1" cellpadding="2">
               <thead class="table-dark">
               <tr>
                   <th>No Meteran</th>
                   <th>Nominal</th>
                   <th>Metode Bayar</th>
                   <th>Action</th>
               </tr>
               </thead>
               <tbody th:each="bayar : ${listriks}">
               <tr>
                   <td th:text="${bayar.noMeteran}"></td>
                   <td th:text="${bayar.nominal}"></td>
                   <td th:text="${bayar.metodeBayar}"></td>
                   <td>
                       <button class="delete"  th:onclick="editData('[[${bayar.id}]]')" title="Delete" data-toggle="tooltip">Verifikasi Pesanan</button>
                   </td>
               </tr>
               </tbody>
           </table>
           <span th:if="${success}" th:text="${success}"></span>
       </div>
   </div>

<br>
<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

<script inline="javascript">
    /*<![CDATA[*/
        var baseUrl = /*[[@{/}]]*/"";
    /*]]*/

    function editData(data){
        var conf = confirm("Pembayaran Sudah Diterima?")
        if(conf){
            window.location = baseUrl + "adminlistrik/save?id="+data;
        }

        return false;
    }
</script>
</html>