<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Internet</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<!--navbar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Admin Internet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="admininternet">Publish Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admininternet2">Payment Verification</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--navbar tutup-->

<!--tabel hasil buat hasil pembelian-->
<div id="data-table" class="container">
  <div>
    <h2>Pembelian Listrik</h2>
    <br>
    <br>
    <table class="table table-light table-striped" border="1" cellpadding="2">
      <thead class="table-dark">
      <tr>
        <th>Provider</th>
        <th>Nomor</th>
        <th>Paket</th>
        <th>Harga</th>
        <th>Metode Bayar</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody th:each="intt : ${internet}">
      <tr>
        <td th:text="${intt.provider}"></td>
        <td th:text="${intt.nomor}"></td>
        <td th:text="${intt.getInternet().kecepatan}"></td>
        <td th:text="${intt.getInternet().harga}"></td>
        <td th:text="${intt.metodeBayar}"></td>
        <td>
          <div class="col-12">
            <!--<form class="row g-3" th:action="@{/internet/save}">-->
            <button class="btn btn-primary"  th:onclick="editStatus('[[${intt.id}]]')" title="Delete" data-toggle="tooltip">Verifikasi Pesanan</button>
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <span th:if="${success}" th:text="${success}"></span>
  </div>
</div>

<br>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
<script inline="javascript">
  /*<![CDATA[*/
  var baseUrl = /*[[@{/}]]*/"";
  /*]]*/

  function editStatus(data){
    var conf = confirm("Pembayaran Sudah Diterima?")
    if(conf){
      window.location = baseUrl + "admininternet2/save?id="+data;
    }

    return false;
  }
</script>
</html>