<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MDC Bank</title>


 <!--  Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 <!--  Slick -->
  <link type="text/css" rel="stylesheet" href="css/slick.css"/>
  <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css">


  <link type="text/css" rel="stylesheet" href="css/style.css"/>

  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
<!-- HEADER -->
<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> bank@MDC.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Wisma Kodel</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <!-- /LOGO -->


        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">


            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
     <!--  NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a th:href="@{/home}">Home</a></li>
        <li class="active"><a th:href="@{/belipaket}">Paket Data</a></li>
      </ul>
    </div>
  </div>
</nav>
<main>
	<h1 class="text-center">Beli Paket Data</h1>
	<hr />

	<div id="data-collection" class="container">
	<div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
	
	<div id="add-beli">
		<form method="post" th:action="@{/belipaket/save}" th:object="${beliForm}">
		    <label>No Handphone</label>
	<input type="text" placeholder="Masukkan No Handphone" th:field="*{noHp}" /><br/>
		    <label>Paket Data</label>
	<select name="paketdataForm" id="paketdataForm" class="form-control" style="display: inline;">
		                    <option th:each="paketdata : ${paketDatas}"
		                            th:value="${paketdata.id}"
		                            th:text="${paketdata.provider.namaprovider + ', ' + paketdata.paketData}">
		                    </option>
		                    
		                </select>
			<input type="submit" value="Beli" class="btn btn-success"/>
		</form>
	</div>
	<hr />
        <hr />
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Provider</th>
					<th>No Handphone</th>
					<th>Paket Data</th>
				</tr>
			</thead>
			<tr th:each="beli : ${belis}">
				<td th:text="${beli.provider}"></td> 
				<td th:text="${beli.noHp}"></td>
				<td th:text="*{beli.paketData}">
				</td>
			</tr>
		</table>
	</div>
</main>
</body>
</html>