<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MDC Bank</title>


 <!--  Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 <!--  Slick -->
  <link type="text/css" rel="stylesheet" href="css/slick.css"/>
  <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css">


  <link type="text/css" rel="stylesheet" href="css/style.css"/>

  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
<!-- HEADER -->
<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> bank@MDC.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Wisma Kodel</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <!-- /LOGO -->


        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">


            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
     <!--  NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a th:href="@{/home}">Home</a></li>
        <li class="active"><a class="nav-link" th:href="@{/order}">Product</a>
        <li class="active"><a class="nav-link" th:href="@{'/cart'}">Cart</a>
        <li class="active"><a class="nav-link" th:href="@{/payment}">Invoice</a>
      </ul>
    </div>
  </div>
</nav>
<main role="main">
		<div class="container">
			<h2 class="font-weight-bold text-center text-capitalize">CART</h2>
			<div class="row" th:each="order : ${ordes}" >
				<div class="col-md-3">
					<img class="rounded mx-auto d-block" th:src="@{/images/{img} (img=${order.image})}"
						alt="Generic placeholder image" width="220" height="220">
				</div>
				<div class="col-md-9">
					<h2 th:text="${order.namaBarang}"></h2>
					<h6 class="card-title">Harga: </h6>
					<h6 class="card-title" th:text="${order.harga}"></h6>
					<br>
					<h6 class="card-title">Qty: </h6>
					<h6 class="card-title" th:text="${order.jumlah}"></h6>
					<br>
					<button class="btn btn-danger" th:onclick="deleteData('[[${order.id}]]')">Delete</button>
				    <br><br><br><br><br>
				</div>								
			</div>
			<div class ="row" id="save-order">
			<form method="post" th:action="@{/cart/save}">
				<div class="form-group row">
				    	<div class="col-sm-1">
				      			<input class="btn btn-primary" type="submit" value="Order" />
				      			<span class="alert alert-success" th:if="${failed}" th:text="${failed}"></span>
				    	</div>
				</div>
				</br>

			</form>
		</div>
		</div>
	</main>
	


		
<script inline="javascript">
/*<![CDATA[*/
	var baseUrl = /*[[@{/}]]*/ "";
	/*]]>*/
	
	var baseUrl = "";
	function deleteData(data){
		var conf = confirm("are you sure ?")
		if(conf){
			window.location = baseUrl + "cart/delete?id="+data
		}
		return false;
	}
	function save(){
		var conf = confirm("are you sure ?")
		if(conf){
			window.location = baseUrl + "cart/save"
		}
		return false;
	}
</script>
</body>
</html>