<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> 
<title>Insert title here</title>
</head>
<body>
<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-warning">
			<a class="navbar-brand" href="#" text>E-Commerce</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/admin}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'/invoice'}">Cart</a>
					</li>
				</ul>
			</div>
		</nav>
</header>
<main>
	<h4 class="card-header"><strong>D</strong></h4>
	<br>
<div class="container">
<div id="add-employee">
			<form method="post" th:action="@{/admin/save}" th:object="${barangForm}">
				<div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Nama Barang</label>
				    	<div class="col-sm-10">
				      		<input class="form-control" type="text" placeholder="Masukan nama barang" th:field="*{namaBarang}">
				      		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('namaBarang')}" th:errors="*{namaBarang}"></div>
				    	</div>
				</div>
				</br>
				<div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Harga</label>
				    	<div class="col-sm-10">
				      		<input class="form-control" type="number" placeholder="Masukan harga" th:field="*{harga}">
				      		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('harga')}" th:errors="*{harga}"></div>
				    	</div>
				</div>
				</br>
				<div class="form-group row">
				    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Deskripsi</label>
				    	<div class="col-sm-10">
				      		<input class="form-control" type="text" placeholder="Masukan deskripsi" th:field="*{deskripsi}">
				      		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('deskripsi')}" th:errors="*{deskripsi}"></div>
				    	</div>
				</div>
				</br>
				<input class="btn btn-primary" type="submit" value="Simpan" />
			</form>
			<span th:if="${success}" th:text="${success}"></span>
		</div>
</div>
</main>
</body>
</html>