<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MDC Bank</title>
<base href="/">

 <!--  Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
  

 <!--  Slick -->
  <link type="text/css" rel="stylesheet" href="css/slick.css"/>
  <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css">


  <link type="text/css" rel="stylesheet" href="css/style.css"/>

  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
<!-- HEADER -->
<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> bank@MDC.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Wisma Kodel</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <!-- /LOGO -->


        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">


            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
     <!--  NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a th:href="@{/home}">Home</a></li>
        <li class="active"><a class="nav-link" th:href="@{/admin}">Tambah Product</a>
        <li class="active"><a class="nav-link" th:href="@{/admin/invoice}">Invoice</a>
      </ul>
    </div>
  </div>
</nav>
	<main>
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<td>Id</td>
					<td>Tanggal Beli</td>
					<td>Total Bayar</td>
					<td>Nama pembeli</td>
					<td>Status</td>
		<!-- 			<td>Action</td> -->
				</tr>
			</thead>
			<tbody th:each="order : ${orders}">
				<tr>
					<td th:text = "${order.id}"></td>
					<td th:text = "${order.tanggalPembelian}"></td>
					<td th:text = "${order.totalBayar}"></td>
					<td th:text = "${order.user.nama}"></td>
					<td th:text = "${order.status}"></td>
					<!-- <td><a th:href="@{invoice/getOne/(id=${order.id})}"  class="btn btn-warning">Edit</a></a></td> -->
				</tr>
			</tbody>
		</table>
	
	</main>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
 <form th:action="@{/admin/invoice/update}" method="put"> 
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="IdEdit" name="Id">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="nameEdit" name="name">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Department:</label>
            <input type="text" class="form-control" id="departmentEdit" name="department">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Updated By:</label>
            <input type="text" class="form-control" id="updatedByEdit" name="updatedBy">
          </div>    
                
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Updated On:</label>
            <input type="text" class="form-control" id="updatedOnEdit" name="updatedOn">
          </div>         
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</form>
</div>

</body>
</html>