<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MDC Bank</title>


 <!--  Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 <!--  Slick -->
  <link type="text/css" rel="stylesheet" href="css/slick.css"/>
  <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css">


  <link type="text/css" rel="stylesheet" href="css/style.css"/>

  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
<!-- HEADER -->
<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> bank@MDC.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Wisma Kodel</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <!-- /LOGO -->


        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">


            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
     <!--  NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a th:href="@{/home}">Home</a></li>
        <li class="active"><a class="nav-link" th:href="@{/listrik}">Listrik</a>
      </ul>
    </div>
  </div>
</nav>
<!--input data pembelian listrik-->
<main>
<div id="data-collection" class="container">
  <span th:if="${sukses}" th:text="${sukses}" ></span>
  <br>
  <div id="add-bayar" class="mb-3">
    <form class="row g-3" th:action="@{/listrik/save}" th:object="${listrikForm}" method="post" style="width: 30%;">
      <div class="col-12">
        <label class="form-label">No Meteran</label>
        <input type="text" class="form-control" th:field="*{noMeteran}"/>
      </div>
     <div class="col-12">
        <label class="form-label">Nominal</label>
        <input type="text" class="form-control" th:field="*{nominal}"/>
      </div>
      <br>
      <br>
        <div class="col-12">
            <label class="form-label">Metode Pembayaran</label>
            <select class="form-select" aria-label="Default select example" th:field="*{metodeBayar}">
                <option th:each="p : ${pembayaranList}" th:value="${p}" th:text="${p}"selected>Open this select menu</option>
            </select>
        </div>
      <div class="col-12">
        <input type="submit" class="btn btn-primary" value="Beli Listrik"/>
      </div>
      <br>
    </form>
    <span th:if="${success}" th:text="${success}"></span>
    </div>
    </div>
    </div>

  <!--tabel hasil buat hasil pembelian-->
  <div id="data-table" class="container">
    <div>
      <h2>History Pembelian</h2>
      <br>
      <br>
      <table class="table table-light table-striped" border="1" cellpadding="2">
        <thead class="table-dark">
        <tr>
          <th>No Meteran</th>
            <th>Nominal</th>
            <th>Harga</th>
            <th>Metode Pembayaran</th>
            <th>Status Pembelian</th>
            <th>Token Listrik</th>
        </tr>
        </thead>
        <tbody th:each="listrik : ${listrik}">
        <tr>
          <td th:text="${listrik.noMeteran}"></td>
            <td th:text="${listrik.nominal}"></td>
            <td th:text="${listrik.nominal}"></td>
            <td th:text="${listrik.metodeBayar}"></td>
            <td th:text="${listrik.status}"></td>
            <td th:text="${listrik.token}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
    </div>
  </div>
</div>
</main>
<br>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>