<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MDC Bank</title>
<base href="/">
<!--  Bootstrap -->
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

<!--  Slick -->
<link type="text/css" rel="stylesheet" href="css/slick.css" />
<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

<!-- nouislider -->
<link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

<!-- Font Awesome Icon -->
<link rel="stylesheet" href="css/font-awesome.min.css">


<link type="text/css" rel="stylesheet" href="css/style.css" />

<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
	<!-- HEADER -->
	<header>
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i>
							bank@MDC.com</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> Wisma
							Kodel</a></li>
				</ul>
				<ul class="header-links pull-right">
					<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-3"></div>
					<!-- /LOGO -->


					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">


							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#"> <i class="fa fa-bars"></i> <span>Menu</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!--  NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a th:href="@{/home}">Home</a></li>
					<li class="active"><a class="nav-link" th:href="@{/order}">Product</a>
					<li class="active"><a class="nav-link" th:href="@{'/cart'}">Cart</a>
					<li class="active"><a class="nav-link" th:href="@{/payment}">Invoice</a>
				</ul>
			</div>
		</div>
	</nav>
	<main class="ml-5">
		<form method="post" th:action="@{/order/detail/save}"
			th:object="${barangForm}">
			<div class="form-group row">
				<label for="colFormLabelSm"
					class="col-sm-2 col-form-label col-form-label-sm">Nama
					Barang</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" th:field="*{namaBarang}"
						readonly="readonly">
				</div>
			</div>
			</br>
			<div class="form-group row">
				<label for="colFormLabelSm"
					class="col-sm-2 col-form-label col-form-label-sm">Harga</label>
				<div class="col-sm-10">
					<input class="form-control" type="number" th:field="*{harga}"
						readonly="readonly">
				</div>
			</div>
			</br>
			<div class="form-group row">
				<label for="colFormLabelSm"
					class="col-sm-2 col-form-label col-form-label-sm">Deskripsi</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" th:field="*{deskripsi}"
						readonly="readonly">
				</div>
			</div>
			</br>
			<div class="form-group row">
				<label for="colFormLabelSm"
					class="col-sm-2 col-form-label col-form-label-sm">Jumlah</label>
				<div class="col-sm-10">
					<input class="form-control" type="number"
						placeholder="Masukan jumlah" th:field="${orderForm.jumlah}">
				</div>
			</div>
			</br>
			<div class="form-group row">
				<div class="col-sm-1">
					<input class="btn btn-primary" type="submit" value="Simpan" />
				</div>
			</div>
			</br>

		</form>
		<span th:if="${success}" th:text="${success}"></span>
	</main>


</body>
</html>