<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MDC Bank</title>


 <!--  Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 <!--  Slick -->
  <link type="text/css" rel="stylesheet" href="css/slick.css"/>
  <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css">


  <link type="text/css" rel="stylesheet" href="css/style.css"/>

  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
<!-- HEADER -->
<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> bank@MDC.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Wisma Kodel</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <!-- /LOGO -->


        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">


            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
     <!--  NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a th:href="@{/home}">Home</a></li>
        <li class="active"><a class="nav-link" th:href="@{/provider}">Tambah Provider</a>
        <li class="active"><a class="nav-link" th:href="@{'/paketdata'}">Tambah Paket Data</a>
      </ul>
    </div>
  </div>
</nav>
<main>
<h1 class="text-center">Form Paket Data</h1>
	<hr />

	<div id="data-collection" class="container">
	<div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
	<div id="add-paketdata">
	<form method="post" th:action="@{/paketdata/save}" >	
	<label>Provider</label>
	<select name="providerForm" id="providerForm" class="form-control">
		                    <option th:each="provider : ${providers}"
		                            th:value="${provider.id}"
		                            th:text="${provider.namaprovider}">
		                    </option>
		                </select>
		<label>Paket Data</label>
	<input class="form-control" type="text" placeholder="Masukkan Paket Data" th:field="*{paketdataForm.paketData}" /><br/>
	<input type="submit" value="Simpan" class="btn btn-success"/>
		
	</form>
	<span th:if="${success}" th:text="${success}" ><</span>
	</div>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<td>Provider</td> 
					<td>Paket Data</td>
					
				</tr>
				
			</thead>
			<tbody th:each="paketdata : ${paketdatas}">
				<tr>
				<td th:text="${paketdata.provider.namaprovider}"></td> 
					<td th:text="${paketdata.paketData}"></td>
				</tr>	
			</tbody>
		</table>
	</div>
</main>
</body>
</html>