<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MDC Bank</title>


 <!--  Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 <!--  Slick -->
  <link type="text/css" rel="stylesheet" href="css/slick.css"/>
  <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css">


  <link type="text/css" rel="stylesheet" href="css/style.css"/>

  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
<!-- HEADER -->
<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> bank@MDC.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Wisma Kodel</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <!-- /LOGO -->


        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">


            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
     <!--  NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a th:href="@{/home}">Home</a></li>
        <li class="active"><a class="nav-link" th:href="@{/admin}">Tambah Product</a>
        <li class="active"><a class="nav-link" th:href="@{/admin/invoice}">Invoice</a>
      </ul>
    </div>
  </div>
</nav>
	<main role="main">
		<div class="card">
			<div class="card-body">
				<form method="post" th:action="@{/admin/save}" th:object="${barangForm}" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="nama">Nama Barang</label>
									<input class="form-control" type="text" placeholder="Masukan nama barang" th:field="*{namaBarang}">
				      				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('namaBarang')}" th:errors="*{namaBarang}"></div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="harga">Harga</label>
									<input class="form-control" type="number" placeholder="Masukan harga" th:field="*{harga}">
					      			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('harga')}" th:errors="*{harga}"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="deskripsi">Deskripsi</label>
									<input class="form-control" type="message-text" placeholder="Masukan deskripsi" th:field="*{deskripsi}">
						      		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('deskripsi')}" th:errors="*{deskripsi}"></div>
							</div>
						</div>
						<div class="col-md-3">
							<label for="formFile" class="form-label">Tambah Gambar</label>
							<input class="form-control"  name="file" type="file" id="image">
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Simpan</button>
				</form>
			</div>
		</div>
		<!-- /container -->
		<br>
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<td>Nama Barang</td>
					<td>Harga</td>
					<td>Deskripsi</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody th:each="barang : ${barangs}">
				<tr>
					<td th:text = "${barang.namaBarang}"></td>
					<td th:text = "${barang.harga}"></td>
					<td th:text = "${barang.deskripsi}"></td>
					<td>
						<button class="btn btn-primary" th:onclick="deleteData('[[${barang.id}]]')">Delete</button>
						<a th:href="@{'/admin/edit?id='+${barang.id}}">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>

	</main>
		
</body>
<script inline="javascript">
/*<![CDATA[*/
	var baseUrl = /*[[@{/}]]*/ "";
	/*]]>*/
	
	var baseUrl = "";
	function deleteData(data){
		var conf = confirm("are you sure ?")
		if(conf){
			window.location = baseUrl + "admin/delete?id="+data
		}
		return false;
	}
</script>
</html>